@page "/budgeting"
@using BudgettingWebApps.Models
@using BudgettingWebApps.Components.Pages.Budgeting.Components
@using BudgettingWebApps.Reposiotories
@using System.Security.Claims
@using BudgettingWebApps.Components.Pages.Budgeting.Dialogs
@using Microsoft.AspNetCore.Authorization
@using Serilog
@rendermode InteractiveServer
@attribute [Authorize(Roles ="user,admin")]

<h3>Budgeting</h3>

<label style="text-anchor:end"><b>Total Income : @TotalIncome.ToString("C")</b></label>
<label style="text-anchor:end"><b>Total Expenses : @TotalExpense.ToString("C")</b></label>
<label style="text-anchor:end"><b>Balance : @Balance.ToString("C") </b></label>
<br/>
<button class="btn btn-primary" @onclick="DrawPdfReport">Draw Pdf Report</button>
<br />
<select class="form-select"
        bind="_selectedState"
        @onchange="OnStateSelected">
    <option value="" disabled>@(_placeholder ? "Placeholder" : "-- Select a state --")</option>
    @foreach (var month in Enum.GetValues(typeof(BudgetMonths)))
    {
        <option value="@month">@month</option>
    }
</select>

@if (_helperText)
{
    <small class="form-text text-muted">@(_helperText ? "Helper Text" : null)</small>
}


<br />

<button @onclick="ShowAddIncomeDialog">Add Income</button>

<AddIncomeDialog IsVisible="@isAddIncomeDialogVisible"
                 IsEditMode="@isEditMode"
                 IncomeSource="@incomeSource"
                 Amount="@amount"
                 IncomeId="@incomeId"
                 OnClose="CloseAddIncomeDialog"
                 OnSubmit="HandleIncomeSubmit" />

<table class="table">
    <thead>
        <tr>
            <th>Income Name</th>
            <th>Amount</th>
            <th>Date</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var income in filteredIncome)
        {
            <tr>
                <td>@income.IncomeName</td>
                <td>@income.Amount.ToString("0.00")</td>
                <td>@income.TransactionDate.ToShortDateString()</td>
                <td>
                    <button @onclick="() => EditIncome(income)">Edit</button>
                    <button @onclick="() => DeleteIncome(income.Id)">Delete</button>
                </td>
            </tr>
        }
    </tbody>
</table>

@* Expense data *@
<button @onclick="ShowAddExpenseDialog">Add Expense</button>
<AddExpenseDialog IsVisible="@isAddExpenseDialogVisible"
                  IsEditExpenseMode="@isEditExpenseMode"
                  ExpenseName="@expenseName"
                  Amount="@expenseAmount"
                  ExpenseId="@expenseId"
                  OnClose="CloseAddExpenseDialog"
                  OnSubmit="HandleExpenseSubmit" />

<table class="table">
    <thead>
        <tr>
            <th>Expense Name</th>
            <th>Amount</th>
            <th>Date</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var expense in filteredExpenses)
        {
            <tr>
                <td>@expense.ExpenseName</td>
                <td>@expense.Amount.ToString("0.00")</td>
                <td>@expense.BudgetMonth.ToShortDateString()</td>
                <td>
                    <button @onclick="() => EditExpense(expense)">Edit</button>
                    <button @onclick="() => DeleteExpense(expense.Id)">Delete</button>
                </td>
            </tr>
        }
    </tbody>
</table>

@code {
    decimal TotalIncome = 0;
    decimal TotalExpense = 0;
    decimal Balance = 0;


    private bool _placeholder = true;
    private bool _helperText = true;

    private string _selectedState { get; set; } // Holds the selected state


    private enum BudgetMonths
    {
        January = 1,
        February,
        March,
        April,
        May,
        June,
        July,
        August,
        September,
        October,
        November,
        December
    }


    private void OnStateSelected(ChangeEventArgs e)
    {
        //  _selectedState = e.Value.ToString();  // Capture the selected state
        Console.WriteLine($"Selected month: {_selectedState}");  // Log the selected state to the console
                                                                 // int monthNumber = (int)_selectedState;
        var selectedMonth = (BudgetMonths)Enum.Parse(typeof(BudgetMonths), e.Value.ToString());

        // Get the numeric value (month number) by casting to int
        int monthNumber = (int)selectedMonth;
        Console.WriteLine($"the selected month number is {monthNumber}");
        filteredIncome = _income.FindAll(x => x.TransactionDate.Month == monthNumber).ToList();
        filteredExpenses = _expense.FindAll(x => x.BudgetMonth.Month == monthNumber).ToList();
        TotalIncome = filteredIncome.Sum(x => x.Amount);
        TotalExpense = filteredExpenses.Sum(x => x.Amount);
        Balance = TotalIncome - TotalExpense;

    }



    [CascadingParameter]
    private Task<AuthenticationState> authenticationStateTask { get; set; }

    private List<IncomeDto> _income = new List<IncomeDto>(); 
    private List<IncomeDto> filteredIncome = new List<IncomeDto>();

    private List<ExpenseDto> _expense = new List<ExpenseDto>();
    private List<ExpenseDto> filteredExpenses = new List<ExpenseDto>();

    [Inject]
    private IincomeRepository repository { get; set; } = default!;

    [Inject]
    private IExpenseRepository expenseRepository { get; set; } = default!;
    
    [Inject]
    IJSRuntime jSRuntime { get; set; } = default!;

    protected override async Task OnInitializedAsync()
    {
        var authenticationState = await authenticationStateTask;
        var user = authenticationState.User;

        var userIdClaim = user.FindFirst(ClaimTypes.PrimarySid);
        var userId = userIdClaim?.Value;

        var currentuser = Convert.ToInt16(userId);

        _expense = await expenseRepository.GetExpenses(currentuser);
        filteredExpenses = _expense.FindAll(x => x.BudgetMonth.Month == DateTime.Now.Month).ToList();

        _income = await repository.GetIncome(currentuser);
        filteredIncome = _income.FindAll(x => x.TransactionDate.Month == DateTime.Now.Month).ToList(); 
        TotalIncome = filteredIncome.Sum(x => x.Amount);
        TotalExpense = filteredExpenses.Sum(x => x.Amount);
        Balance = TotalIncome - TotalExpense;
        await base.OnInitializedAsync();
    }
   


    private bool isAddIncomeDialogVisible = false;
    private bool isEditMode = false;
    private string incomeSource = string.Empty;
    private decimal amount = 0;
    private int? incomeId = null;

    private bool isAddExpenseDialogVisible = false;
    private bool isEditExpenseMode = false;
    private string expenseName = string.Empty;
    private decimal expenseAmount = 0;
    private int? expenseId = null;

    private void ShowAddIncomeDialog()
    {
        isEditMode = false;
        incomeSource = string.Empty;
        amount = 0;
        incomeId = null;
        isAddIncomeDialogVisible = true;
    }
    private void ShowAddExpenseDialog()
    {
        isEditExpenseMode = false;
        expenseName = string.Empty;
        expenseAmount = 0;
        expenseId = null;
        isAddExpenseDialogVisible = true;
    }

    private void EditIncome(IncomeDto income)
    {
        isEditMode = true;
        incomeSource = income.IncomeName;
        amount = income.Amount;
        incomeId = income.Id;
        isAddIncomeDialogVisible = true;
    }

    private void EditExpense(ExpenseDto expense)
    {
        isEditExpenseMode = true;
        expenseName = expense.ExpenseName;
        expenseAmount = expense.Amount;
        expenseId = expense.Id;
        isAddExpenseDialogVisible = true;
    }

    private void CloseAddIncomeDialog()
    {
        isAddIncomeDialogVisible = false;
    }
    private void CloseAddExpenseDialog()
    {
        isAddExpenseDialogVisible = false;
    }

    private async Task HandleIncomeSubmit((string IncomeSource, decimal Amount, int? IncomeId) incomeDetails)
    {
        if (incomeDetails.IncomeId.HasValue)
        {
            // Update existing income
            var incomeToUpdate = _income.FirstOrDefault(i => i.Id == incomeDetails.IncomeId.Value);
            if (incomeToUpdate != null)
            {
                incomeToUpdate.IncomeName = incomeDetails.IncomeSource;
                incomeToUpdate.Amount = incomeDetails.Amount;
                await repository.UpdateIncome(incomeToUpdate); // Assuming UpdateIncome method exists
            }
        }
        else
        {
            // Add new income
            var newIncome = new IncomeDto
                {
                    IncomeName = incomeDetails.IncomeSource,
                    Amount = incomeDetails.Amount,
                    TransactionDate = DateTime.Now, // Assuming Date is automatically set
                    UserId = Convert.ToInt32(authenticationStateTask.Result.User.FindFirst(ClaimTypes.PrimarySid)?.Value)
                };
            await repository.CreateNewIncome(newIncome); // Assuming AddIncome method exists
        }

        // Refresh the income list
        _income = await repository.GetIncome(Convert.ToInt16(authenticationStateTask.Result.User.FindFirst(ClaimTypes.PrimarySid)?.Value));
        filteredIncome = _income.FindAll(x => x.TransactionDate.Month == DateTime.Now.Month).ToList();
        

        TotalIncome = filteredIncome.Sum(x => x.Amount);
        TotalExpense = filteredExpenses.Sum(x => x.Amount);
        Balance = TotalIncome - TotalExpense;


        CloseAddIncomeDialog();
    }
    private async Task HandleExpenseSubmit((string ExpenseName, decimal Amount, int? ExpenseId) expenseDetails)
    {
        if (expenseDetails.ExpenseId.HasValue)
        {
            // Update existing expense
            var expenseToUpdate = _expense.FirstOrDefault(i => i.Id == expenseDetails.ExpenseId.Value);
            if (expenseToUpdate != null)
            {
                expenseToUpdate.ExpenseName = expenseDetails.ExpenseName;
                expenseToUpdate.Amount = expenseDetails.Amount;
                await expenseRepository.UpdateExpense(expenseToUpdate); // Assuming UpdateExpense method exists
            }
        }
        else
        {
            // Add new expense
            var newExpense = new ExpenseDto
                {
                    ExpenseName = expenseDetails.ExpenseName,
                    Amount = expenseDetails.Amount,
                    BudgetMonth = DateTime.Now, // Assuming Date is automatically set
                    UserId = Convert.ToInt32(authenticationStateTask.Result.User.FindFirst(ClaimTypes.PrimarySid)?.Value)
                };
            await expenseRepository.AddExpense(newExpense); // Assuming AddExpense method exists
        }

        // Refresh the income list
        _expense = await expenseRepository.GetExpenses(Convert.ToInt16(authenticationStateTask.Result.User.FindFirst(ClaimTypes.PrimarySid)?.Value));
        filteredExpenses = _expense.FindAll(x => x.BudgetMonth.Month == DateTime.Now.Month).ToList();
      
        TotalIncome = filteredIncome.Sum(x => x.Amount);
        TotalExpense = filteredExpenses.Sum(x => x.Amount);
        Balance = TotalIncome - TotalExpense;
        
        CloseAddIncomeDialog();
    }
    private async Task DeleteIncome(int incomeId)
    {
        await repository.DeleteIncome(incomeId); // Assuming DeleteIncome method exists
        _income = await repository.GetIncome(Convert.ToInt16(authenticationStateTask.Result.User.FindFirst(ClaimTypes.PrimarySid)?.Value));
        filteredIncome = _income.FindAll(x => x.TransactionDate.Month == DateTime.Now.Month).ToList();
        TotalIncome = filteredIncome.Sum(x => x.Amount);
        TotalExpense = filteredExpenses.Sum(x => x.Amount);
        Balance = TotalIncome - TotalExpense;
    }
    private async Task DeleteExpense(int expenseId)
    {
        await expenseRepository.DeleteExpense(expenseId); // Assuming DeleteExpense method exists
        _expense = await expenseRepository.GetExpenses(Convert.ToInt16(authenticationStateTask.Result.User.FindFirst(ClaimTypes.PrimarySid)?.Value));
        filteredExpenses = _expense.FindAll(x => x.BudgetMonth.Month == DateTime.Now.Month).ToList();
        TotalIncome = filteredIncome.Sum(x => x.Amount);
        TotalExpense = filteredExpenses.Sum(x => x.Amount);
        Balance = TotalIncome - TotalExpense;
    }

    private async Task DrawPdfReport()
    {
        await jSRuntime.InvokeVoidAsync("open", "/budgeting/pdf/report/");
        Console.WriteLine("Download pdf");
        Log.Information("Download Pdf report");
    }
}
